footer{
    background-color: #CD4B2080;
    .row{
        display: flex;
        padding: 50px 0;
        justify-content: space-around;
    }
    h2{
        font-size: 25px;
    }
    li{
        padding-top: 20px;
    }
}