header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    @include tablette{
        flex-wrap: wrap;
        height: 200px;
        justify-content: center;
    }
    a img{
        height: 80px;
        padding-left: 25px;
        @include tablette{
            padding: 0;
        }
        @include small-phone{
            height: 60px;
        }
    }
    .navHeader{
        display: flex;
        width: $col4;
        justify-content: flex-end;
        @include ecran {
            width: $col6;
        }
        @include tablette{
            width: $col12;
            justify-content: center;
        }
        @include small-phone{
            flex-wrap: wrap;
        }
        .search{
            height: 40px;
            width: $col7;
            border-radius: 10px;
            border: none;
            @include small-phone{
                width: $col12;
                border-radius: 0;
            }            
        }
        .menuAccount{
            text-align: center;
            align-self: center;
            padding: 0 25px;
            p{
                padding-top: 5px;
                @include tablette{
                    display: none;
                    padding: 0;
                }
            }
            i{
                @include small-phone{
                    padding-top: 15px;
                }
            }
        }
    }
}