.infoLocalisationBox{
    background-color: #99330025;
    
    h3{
        text-align: center;
        padding-top: 50px;
        font-size: 25px;
    }
    .row{
        display: flex;
        justify-content: space-around;
        padding: 50px;
        @include tablette{
            flex-wrap: wrap;
        }
        .ulInfo{
            text-align: center;
            min-width: $col2;
            margin: 5% 5%;
            @include phone{
                width: $col7;
                margin: 5px 0;
            }
            li{
                padding-top: 50px;
                cursor: pointer;
            }
        }
    }
}