.resultSearch{
    min-height: 354px;
    .cardInfoRow{
        display: flex;
        padding: 250px 0;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../img/Garde-meuble-cave-box-de-stockage-garage-jestocke-homepage-2.jpg");
        background-size: cover;
        .cardInfo{
            text-align: center;
            font-size: 25px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 25px;
            color: #FFF;
            img{
                padding-bottom: 25px;
                height: 80px;
            }
        }
    }
    .infoAnnexx{
        h2{
            text-align: center;
            padding: 100px 0;
            font-size: 40px;
        }
        .cardDescriptionRow{
            display: flex;
            justify-content: space-around;
            .cardDescription{
                padding-bottom: 70px;
                width: $col2;
                h3{
                    padding-bottom: 25px;
                    font-size: 30px;
                }
            }
        }
    }
    .notFound{
        padding-top: 5%;
        text-align: center;
    }
    .contactPhone{
        padding: 15px 0 5% 0;
        text-align: center;
    }
    .otherBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
            padding: 25px 0;
            font-size: 30px;
        }
    }
    .topResultSearch{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
            padding: 50px 0;
            width: $col9;
        }
        p{
            padding-bottom: 10px;
            width: $col9;
        }            
    }
    .listBox{
        display: flex;
        padding-bottom: 50px;
        flex-wrap: wrap;
        justify-content: center;
        .cardBox{
            padding: 15px;
            background-color: #FFF;
            width: $col2;
            margin: 50px 1% 0 1%;
            h4{
                padding: 15px 0;
            }
            p{
                padding-bottom: 10px;
            }
            .address{
                width: $col6;
                padding-left: 15px;
            }
            .phone{
                padding: 15px 0 10px 0;
            }
            .hourly{
                padding-left: 15px;
                font-size: 15px;
            }
        }
    }
}