// Font

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



// Color


// Width

$col1: 8.33%;
$col2: 16.66%;
$col3: 25%;
$col4: 33.33%;
$col5: 41.66%;
$col6: 50%;
$col7: 58.33%;
$col8: 66.66%;
$col9: 75%;
$col10: 83.33%;
$col11: 91.66%;
$col12: 100%;

// Breakpoint

$breakpoint : (small-phone: 500px, phone: 700px, tablette: 950px, ecran: 1285px);

// Mixin

@mixin small-phone {
    @media screen and (max-width: map-get($breakpoint, small-phone)){
       @content
   }
};
@mixin phone {
    @media screen and (max-width: map-get($breakpoint, phone)){
       @content
   }
};
@mixin tablette {
    @media screen and (max-width: map-get($breakpoint, tablette)){
       @content
   }
};
@mixin ecran {
    @media screen and (max-width: map-get($breakpoint, ecran)){
       @content
   }
};

// General

body{
    background-color: #92220025;
    font-family: 'Chivo', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Bebas Neue', serif;
}

a{
    color: black;
    text-decoration: none;
}